name: Test Action
on:
  push:
    branches: [master]
jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mskelton/changelog-reminder-action@master
